@model MovieMvcProject.Models.Movie;

@{
    ViewData["Title"] = "Edit Movie";
}
<h1>Edit Movie</h1>

<form asp-action="Edit" asp-controller="Movies">
    <input name="ID" type="hidden" value="@Model.Id" />

    <div class="row pb-3">
        <div class="col-3">@Html.DisplayNameFor(model => model.Title)</div>
        <div class="col-3"><input class="form-control" value="@Model.Title" name="Title" type="text" /></div>
    </div>

    <div class="row pb-3">
        <div class="col-3">@Html.DisplayNameFor(model => model.ReleaseDate)</div>
        <div class="col-3"><input class="form-control" value="@Model.ReleaseDate.ToString("yyyy-MM-dd")"
                name="ReleaseDate" type="date" /></div>
    </div>

    <div class="row pb-3">
        <div class="col-3">@Html.DisplayNameFor(model => model.Genre)</div>
        <div class="col-3">
            <select class="form-control" asp-for="Genre" name="Genre">
                <option value="Action, Crime">Action, Crime</option>
                <option value="Action, Drama">Action, Drama</option>
                <option value="Crime, Drama">Crime, Drama</option>
                <option value="Drama, Thriller">Drama, Thriller</option>
                <option value="Romance, Drama">Romance, Drama</option>
                <option value="Sci-Fi, Action">Sci-Fi, Action</option>
                <option value="Sci-Fi, Adventure">Sci-Fi, Adventure</option>
                <option value="Sci-Fi, Drama">Sci-Fi, Drama</option>
                <option value="Sci-Fi, Thriller">Sci-Fi, Thriller</option>
            </select>
        </div>
    </div>

    <div class="row pb-3">
        <div class="col-3">@Html.DisplayNameFor(model => model.Year)</div>
        <div class="col-3"><input class="form-control" value="@Model.Year" name="Year" type="text" /></div>
    </div>

    <div class="row pb-3">
        <div class="col-3">@Html.DisplayNameFor(model => model.Price)</div>
        <div class="col-3"><input class="form-control" value="@Model.Price" name="Price" type="text" /></div>
    </div>

    <div class="row pb-3">
        <div class="col-3">
            <a asp-action="Index" asp-controller="Movies" class="btn btn-warning">Back</a>
            <button type="submit" class="btn btn-primary text-right">Save</button>
        </div>
    </div>
</form>
